<% layout('./layouts/boilerplate') %>
<aside class="background"></aside>
<main class="home">
  <h1 class="home__heading">Explore Nature Beauty</h1>
  <p class="home__para1">Where to visit next??</p>
  <p class="home__para2">
    Our website will take you to the most beautiful places on the planet.
  </p>
  <a href="/places" class="home__btn btn animate-on-scroll">Explore</a>
</main>
