<% layout('./layouts/boilerplate') %>
<main class="cards">
  <h2 class="cards__heading">Our Favourite Picks</h2>
  <% for(let place of places) { %>
  <div class="card animate-on-scroll">
    <img src="<%= place.img1 %>" class="card__img" alt="..." />
    <div class="card__body">
      <h5 class="card__title"><%= place.title %></h5>
      <p class="card__text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="/places/<%=place._id%>" class="card__btn btn btn--primary"
        >See More</a
      >
    </div>
  </div>

  <% } %>
  <!-- <div class="card animate-on-scroll">
        <img src="/images/img-braies-1.jpg" class="card__img" alt="..." />
        <div class="card__body">
          <h5 class="card__title">Card title</h5>
          <p class="card__text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card__btn btn btn-primary">See More</a>
        </div>
      </div>
      <div class="card animate-on-scroll">
        <img src="/images/img-iceland-1.jpg" class="card__img" alt="..." />
        <div class="card__body">
          <h5 class="card__title">Card title</h5>
          <p class="card__text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card__btn btn btn-primary">See More</a>
        </div>
      </div>
      <div class="card animate-on-scroll">
        <img
          src="https://images.unsplash.com/photo-1526239187794-f8c27c7872ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80"
          class="card__img"
          alt="..."
        />
        <div class="card__body">
          <h5 class="card__title">Card title</h5>
          <p class="card__text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card__btn btn btn-primary">See More</a>
        </div>
      </div>
      <div class="card animate-on-scroll">
        <img
          src="https://images.unsplash.com/photo-1526239187794-f8c27c7872ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80"
          class="card__img"
          alt="..."
        />
        <div class="card__body">
          <h5 class="card__title">Card title</h5>
          <p class="card__text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card__btn btn btn-primary">See More</a>
        </div>
      </div> -->
</main>
